body {
    background: #F1F3FA;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #e9e9e9;
    border-radius: 0px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 8px;
    margin-right: 5px;
    width: 110px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
    /*min-height: 400px;*/
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;

}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #6f1010;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #6f1010;
    background-color: #f6f9fb;
    border-left: 2px solid #6f1010;
    margin-left: -2px;
}


@media screen and (max-width:680px) {
    ul.nav li:not(:first-child) {display: none;}
    ul.nav li.icon2 {
        float: right;
        display: inline-block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
    ul.nav.responsive {position: relative;}
    ul.nav.responsive li.icon2 {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.nav.responsive li {
        float: none;
        display: inline;
    }
    ul.nav.responsive li a {
        display: block;
        text-align: left;
    }
}




/* Profile Content */
.profile-content {
    padding: 20px;
    background: #e9e9e9;
    /*min-height: 618px;*/
    min-height: 700px;
    border-radius: 0px;
}

.table {
    border: 1px solid #a8a8a8;
}
.table thead > tr > th {
    border-bottom: none;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border: 1px solid #a8a8a8;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
